@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  background: #000;
  color: rgb(227, 213, 213);
}

.logo {
  font-family: cursive;
}
